In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("F:/Onedrive/documents/GitHub/DSDV_project/data/Life Expectancy Data.csv")
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [38]:
print(df.columns.tolist())

['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [39]:
# df1 = pd.DataFrame(df)
# print(df1)
df1 = df.copy()

In [40]:
col_to_drop = [' thinness  1-19 years',' thinness 5-9 years', 'Schooling']
data = df1.drop(col_to_drop,axis=1)

In [41]:
for column in data.columns:
    if data[column].dtype != 'object':
        data[column].fillna(data[column].mean(), inplace=True)
print(data)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

       BMI   under-five deaths   Polio  Total expenditure  Diphtheria   \
0      19.1                  83    6.0               8.16         65.0
1      18.6                  86   58.0               8.18         62.0
2      18.1                  89   62.0               8.13         64.0
3      17.6                  93   67.0               8.52         67.0
4      17.2                  97   68.0               7.87         68.0
...     ...                 ...    ...                ...          ...
2933   27.1                  42   67.0               7.13         65.0
2934   26.7                  41    7.0               6.52         68.0
2935   26.3                  40   73.0               6.53         71.0
2936   25.9                  39   76.0               6.16         75.0
2937   25.5                  39   78.0               7.10         78.0

       HIV/AIDS         GDP  Population  Income composition of resources
0           0.1  584.259210  33736494.0                            0.479
1           0.1  612.696514    327582.0                            0.476
2           0.1  631.744976  31731688.0                            0.470
3           0.1  669.959000   3696958.0                            0.463
4           0.1   63.537231   2978599.0                            0.454
...         ...         ...         ...                              ...
2933       33.6  454.366654  12777511.0                            0.407
2934       36.7  453.351155  12633897.0                            0.418
2935       39.8   57.348340    125525.0                            0.427
2936       42.1  548.587312  12366165.0                            0.427
2937       43.5  547.358878  12222251.0                            0.434

[2938 rows x 19 columns]

C:\Users\Hii\AppData\Local\Temp\ipykernel_13864\1593296250.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(data[column].mean(), inplace=True)

In [42]:
grouped = data.groupby('Year')
dfs_by_year = []
for year, data_year in grouped:
    dfs_by_year.append(data_year)
try:
    all_data = pd.concat(dfs_by_year)
    all_data.to_csv("all_years_data.csv", index=False)
    print(all_data)
except KeyError as e:
    print(f"Error: {e}")
all_data = pd.concat(dfs_by_year)
all_data.to_csv("all_years_data.csv",index=False)
print(all_data)

                                 Country  Year      Status  Life expectancy   \
15                           Afghanistan  2000  Developing              54.8
31                               Albania  2000  Developing              72.6
47                               Algeria  2000  Developing              71.3
63                                Angola  2000  Developing              45.3
79                   Antigua and Barbuda  2000  Developing              73.6
...                                  ...   ...         ...               ...
2858  Venezuela (Bolivarian Republic of)  2015  Developing              74.1
2874                            Viet Nam  2015  Developing              76.0
2890                               Yemen  2015  Developing              65.7
2906                              Zambia  2015  Developing              61.8
2922                            Zimbabwe  2015  Developing              67.0

      Adult Mortality  infant deaths   Alcohol  percentage expenditure  \
15              321.0             88  0.010000               10.424960
31               11.0              1  3.660000               91.711541
47              145.0             21  0.250000              154.455944
63               48.0             97  1.850000               15.881493
79              156.0              0  7.270000             1127.743470
...               ...            ...       ...                     ...
2858            157.0              9  4.602861                0.000000
2874            127.0             28  4.602861                0.000000
2890            224.0             37  4.602861                0.000000
2906             33.0             27  4.602861                0.000000
2922            336.0             22  4.602861                0.000000

      Hepatitis B  Measles    BMI   under-five deaths   Polio  \
15      62.000000      6532   12.2                 122   24.0
31      96.000000       662   45.0                   1   97.0
47      80.940461         0   44.4                  25   86.0
63      80.940461      2219   15.4                 160    3.0
79      80.940461         0   38.2                   0   96.0
...           ...       ...    ...                 ...    ...
2858    87.000000         0   62.1                  10   87.0
2874    97.000000       256   17.5                  35   97.0
2890    69.000000       468   41.3                  47   63.0
2906     9.000000         9   23.4                  40    9.0
2922    87.000000         0   31.8                  32   88.0

      Total expenditure  Diphtheria    HIV/AIDS          GDP    Population  \
15              8.20000         24.0        0.1   114.560000  2.937560e+05
31              6.26000         97.0        0.1  1175.788981  3.892700e+04
47              3.49000         86.0        0.1  1757.177970  3.118366e+06
63              2.79000         28.0        2.0   555.296942  1.644924e+06
79              4.13000         95.0        0.1  9875.161736  1.275338e+07
...                 ...          ...        ...          ...           ...
2858            5.93819         87.0        0.1  7483.158469  1.275338e+07
2874            5.93819         97.0        0.1  7483.158469  1.275338e+07
2890            5.93819         69.0        0.1  7483.158469  1.275338e+07
2906            5.93819          9.0        4.1  1313.889646  1.615870e+05
2922            5.93819         87.0        6.2   118.693830  1.577745e+07

      Income composition of resources
15                              0.338
31                              0.656
47                              0.636
63                              0.382
79                              0.000
...                               ...
2858                            0.769
2874                            0.678
2890                            0.499
2906                            0.576
2922                            0.507

[2938 rows x 19 columns]
                                 Country  Year      Status  Life expectancy   \
15                           Afghanistan  2000  Developing              54.8
31                               Albania  2000  Developing              72.6
47                               Algeria  2000  Developing              71.3
63                                Angola  2000  Developing              45.3
79                   Antigua and Barbuda  2000  Developing              73.6
...                                  ...   ...         ...               ...
2858  Venezuela (Bolivarian Republic of)  2015  Developing              74.1
2874                            Viet Nam  2015  Developing              76.0
2890                               Yemen  2015  Developing              65.7
2906                              Zambia  2015  Developing              61.8
2922                            Zimbabwe  2015  Developing              67.0

      Adult Mortality  infant deaths   Alcohol  percentage expenditure  \
15              321.0             88  0.010000               10.424960
31               11.0              1  3.660000               91.711541
47              145.0             21  0.250000              154.455944
63               48.0             97  1.850000               15.881493
79              156.0              0  7.270000             1127.743470
...               ...            ...       ...                     ...
2858            157.0              9  4.602861                0.000000
2874            127.0             28  4.602861                0.000000
2890            224.0             37  4.602861                0.000000
2906             33.0             27  4.602861                0.000000
2922            336.0             22  4.602861                0.000000

      Hepatitis B  Measles    BMI   under-five deaths   Polio  \
15      62.000000      6532   12.2                 122   24.0
31      96.000000       662   45.0                   1   97.0
47      80.940461         0   44.4                  25   86.0
63      80.940461      2219   15.4                 160    3.0
79      80.940461         0   38.2                   0   96.0
...           ...       ...    ...                 ...    ...
2858    87.000000         0   62.1                  10   87.0
2874    97.000000       256   17.5                  35   97.0
2890    69.000000       468   41.3                  47   63.0
2906     9.000000         9   23.4                  40    9.0
2922    87.000000         0   31.8                  32   88.0

      Total expenditure  Diphtheria    HIV/AIDS          GDP    Population  \
15              8.20000         24.0        0.1   114.560000  2.937560e+05
31              6.26000         97.0        0.1  1175.788981  3.892700e+04
47              3.49000         86.0        0.1  1757.177970  3.118366e+06
63              2.79000         28.0        2.0   555.296942  1.644924e+06
79              4.13000         95.0        0.1  9875.161736  1.275338e+07
...                 ...          ...        ...          ...           ...
2858            5.93819         87.0        0.1  7483.158469  1.275338e+07
2874            5.93819         97.0        0.1  7483.158469  1.275338e+07
2890            5.93819         69.0        0.1  7483.158469  1.275338e+07
2906            5.93819          9.0        4.1  1313.889646  1.615870e+05
2922            5.93819         87.0        6.2   118.693830  1.577745e+07

      Income composition of resources
15                              0.338
31                              0.656
47                              0.636
63                              0.382
79                              0.000
...                               ...
2858                            0.769
2874                            0.678
2890                            0.499
2906                            0.576
2922                            0.507

[2938 rows x 19 columns]

In [43]:
all_years = pd.read_csv("F:/Onedrive/Documents/GitHub/SM_Project/all_years_data.csv")
grouped_by_year = all_years.groupby('Year')

In [44]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\hii\appdata\local\programs\python\python311\lib\site-packages (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [45]:
with pd.ExcelWriter('data_by_year.xlsx', engine = 'xlsxwriter') as writer:
    for year, data_year in grouped_by_year:
        data_year_without_year = data_year.drop(columns=['Year'])
        data_year_without_year.to_excel(writer,sheet_name=str(year),index=False)

In [46]:
grouped1 = data.groupby('Year')
for year, data_year in grouped1:
    filename = f"F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_{year}.csv"
    data_year.to_csv(filename, index=False)
    print(f"Data for year {year} saved to {filename}")

Data for year 2000 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2000.csv
Data for year 2001 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2001.csv
Data for year 2002 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2002.csv
Data for year 2003 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2003.csv
Data for year 2004 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2004.csv
Data for year 2005 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2005.csv
Data for year 2006 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2006.csv
Data for year 2007 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2007.csv
Data for year 2008 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2008.csv
Data for year 2009 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2009.csv
Data for year 2010 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2010.csv
Data for year 2011 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2011.csv
Data for year 2012 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2012.csv
Data for year 2013 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2013.csv
Data for year 2014 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2014.csv
Data for year 2015 saved to F:/Onedrive/Documents/GitHub/SM_Project/data_by_year/data_2015.csv